<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="default" data-cmd_id="#id#"
     data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <br>
	<div style="margin-left: 5px; margin-right: 5px;text-align: center">
		<table border="0">
			<tr>
				<td style="padding: 0px;" >
					<div class="cmdName"> #name_display#</div>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px;">
					<div class="content-xs">
						<center><font size="2"><strong class="state"></strong></font></center>
					</div>
				</td>
			</tr>
		</table>
	</div>
    <script>
        jeedom.cmd.update['#id#'] = function (_options) {
            var cmd = $('.cmd[data-cmd_id=#id#]')
            cmd.attr('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate)
            cmd.find('.state').empty().append(_options.display_value)
            if (_options.alertLevel) {
                if (_options.alertLevel == 'warning') {
                    cmd.addClass('label label-warning')
                    cmd.attr('data-alertlevel', 'warning');
                } else if (_options.alertLevel == 'danger') {
                    cmd.addClass('label label-danger')
                    cmd.attr('data-alertlevel', 'danger');
                } else {
                    cmd.removeClass('label label-warning label-danger')
                    cmd.attr('data-alertlevel', 'none');
                }
            }
        }
        jeedom.cmd.update['#id#']({
            display_value: '#state#',
            valueDate: '#valueDate#',
            collectDate: '#collectDate#',
            alertLevel: '#alertLevel#'
        })
    </script>
</div>
