<div class="eqLogic-widget eqLogic allowResize alexaapi"
     style="width: 240px;height: 460px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;"
     data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

    <center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
        <span class="reportModeVisible" style="display:none;color:white;">#name_display#</span>
        <a href="#eqLink#" class="reportModeHidden" style="#hideEqLogicName#" title="#name#">#name_display#<span></span></a>
    </center>
    <!--
    <p>id : <strong>#id#</strong><br>
    uid : <strong>#uid#</strong><br>
    name : <strong>#name#</strong> -
    name_display : <strong>#name_display#</strong><br>
    eqLink : <strong>#eqLink#</strong><br>
    category : <strong>#category#</strong> -
    translate_category : <strong>#translate_category#</strong><br>
    logicalId : <strong>#logicalId#</strong><br>
    object_name : <strong>#object_name#</strong><br>
    height : <strong>#height#</strong> -
    width : <strong>#width#</strong><br>
    version : <strong>#version#</strong><br>
    eqType : <strong>#eqType#</strong><br>-->


    #playlisthtml#


</div>

<script>

</script>