<div class="cmd" data-type="info" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#">
<p align="center"><font size="2">#state#</font></p>
<!--
<p>id : <strong>#id#</strong><br>
uid : <strong>#uid#</strong><br>
name : <strong>#name#</strong><br>
state : <strong>#state#</strong><br>
name_display : <strong>#name_display#</strong><br>
logicalId : <strong>#logicalId#</strong><br>
version : <strong>#version#</strong><br>
</p>
-->



</div>