<div class="input-group input-group-sm" style="width: 100%">
    <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Commande</span>
    <select class="form-control input-sm expressionAttr" data-l1key="options" data-l2key="select" data-cmd_id="#id#"
            data-uid="#uid#">

        <option value="play">Play</option>

        <option value="pause">Pause</option>

        <option value="next">Next</option>

        <option value="prev">Previous</option>

        <option value="fwd">fwd</option>

        <option value="rwd">rwd</option>

        <option value="shuffle">Shuffle</option>

        <option value="repeat">Repeat</option>
    </select>
    <script>
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=select]').value('#select#');
    </script>
</div>

