<div class="input-group input-group-sm" style="width: 100%">
	<span class="input-group-addon" id="basic-addon1" style="width: 100px">Type</span>
	<select class="form-control input-sm expressionAttr" data-l1key="options" data-l2key="type" data-cmd_id="#id#" data-uid="#uid#">
            
            <option value="alarm">Alarm</option>
            
            <option value="reminder">Reminder</option>
            
            <option value="all">ALL</option>
            
</select>
	<script>
		$('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=type]').value('#type#');
	</script>
</div>

<div class="input-group input-group-sm" style="width: 100%">
	<span class="input-group-addon" id="basic-addon1" style="width: 100px">Status</span>
	<select class="form-control input-sm expressionAttr" data-l1key="options" data-l2key="status" data-cmd_id="#id#" data-uid="#uid#">
            
            <option value="ON">ON</option>
            
            <option value="OFF">OFF</option>
            
            <option value="ALL">ALL</option>
            
</select>
	<script>
		$('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=status]').value('#status#');
	</script>
</div>

