<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
	<span class="input-group-addon" id="basic-addon1" style="width: 100px">Quoi</span>
	<textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="text" rows="1" style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#text#</textarea>

</div>

<div class="input-group input-group-sm" style="width: 50%">
	<span class="input-group-addon" id="basic-addon1" style="width: 100px">Quand</span>
	<input class="slider expressionAttr form-control input-sm" data-l1key="options" data-l2key="when" value="#when#" data-cmd_id="#id#" data-uid="#uid#"/><small>&nbsp;&nbsp; <B>Format</B> : YYYY-MM-DD HH24:MI:SS</small>
</div>

<div class="input-group input-group-sm" style="width: 100%">
	<span class="input-group-addon" id="basic-addon1" style="width: 100px">Répétition</span>
	<select class="form-control input-sm expressionAttr" data-l1key="options" data-l2key="select" data-cmd_id="#id#" data-uid="#uid#"><option value="">Ne jamais répéter</option>
            
            <option value="P1D">Tous les jours</option>
            
            <option value="XXXX-WD">En semaine</option>
            
            <option value="XXXX-WE">Week-ends</option>
            
            <option value="XXXX-WXX-1">Chaque lundi</option>
            
            <option value="XXXX-WXX-2">Chaque mardi</option>
            
            <option value="XXXX-WXX-3">Chaque mercredi</option>
            
            <option value="XXXX-WXX-4">Chaque jeudi</option>
            
            <option value="XXXX-WXX-5">Chaque vendredi</option>
            
            <option value="XXXX-WXX-6">Chaque samedi</option>
            
            <option value="XXXX-WXX-7">Chaque dimanche</option></select>
	<script>
		$('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=select]').value('#select#');
	</script>
</div>
