<div class="input-group input-group-sm" style="width: 80%; padding-top: 1px">
    <span class="input-group-addon" id="basic-addon1" style="width: 100px">Quand</span>
    <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="when" rows="1"
              style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#when#</textarea><small>&nbsp;&nbsp; <B>Format</B>
    : YYYY-MM-DD HH24:MI:SS (Seule l'heure est prise en compte)</small>
</div>
<div class="input-group input-group-sm" style="width: 100%">
    <span class="input-group-addon" id="basic-addon1" style="width: 100px">Musique</span>
    <select class="form-control input-sm expressionAttr" data-l1key="options" data-l2key="sound" data-cmd_id="#id#"
            data-uid="#uid#">
        <option value="system_alerts_melodic_01">Simple Alarm</option>

        <option value="system_alerts_grand_tour_2">Grand Tour: Season 2</option>

        <option value="system_alerts_grand_tour">Grand Tour</option>

        <option value="system_alerts_man_city_football">Man City Football</option>

        <option value="system_alerts_soothing_01">Adrift</option>

        <option value="system_alerts_atonal_02">Clangy</option>

        <option value="system_alerts_melodic_05">Clarity</option>

        <option value="system_alerts_repetitive_04">Countertop</option>

        <option value="system_alerts_melodic_03">Focus</option>

        <option value="system_alerts_melodic_06">Glimmer</option>

        <option value="system_alerts_repetitive_01">Nightstand</option>

        <option value="system_alerts_melodic_07">Nimble</option>

        <option value="system_alerts_soothing_05">Orcas</option>

        <option value="system_alerts_atonal_03">Porchlight</option>

        <option value="system_alerts_rhythmic_02">Pulsar</option>

        <option value="system_alerts_musical_02">Rainier</option>

        <option value="system_alerts_melodic_02">Simple Timer</option>

        <option value="system_alerts_alarming_03">Squared Waves</option>


    </select>
    <script>
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=sound]').value('#sound#');
    </script>
</div>
<div class="input-group input-group-sm" style="width: 100%">
    <span class="input-group-addon" id="basic-addon1" style="width: 100px">Répétition</span>
    <select class="form-control input-sm expressionAttr" data-l1key="options" data-l2key="select" data-cmd_id="#id#"
            data-uid="#uid#">
        <option value="">Ne jamais répéter</option>

        <option value="P1D">Tous les jours</option>

        <option value="XXXX-WD">En semaine</option>

        <option value="XXXX-WE">Week-ends</option>

        <option value="XXXX-WXX-1">Chaque lundi</option>

        <option value="XXXX-WXX-2">Chaque mardi</option>

        <option value="XXXX-WXX-3">Chaque mercredi</option>

        <option value="XXXX-WXX-4">Chaque jeudi</option>

        <option value="XXXX-WXX-5">Chaque vendredi</option>

        <option value="XXXX-WXX-6">Chaque samedi</option>

        <option value="XXXX-WXX-7">Chaque dimanche</option>
    </select>
    <script>
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=select]').value('#select#');
    </script>
</div>



